extends _layout

block content  
  .row
    .col-md-6.coupleprofile
          aside         
              
            h2.profilestylestyle(style={color: 'black', background: 'green'}) Your Couple's Profile:
            h3.profilename(style={color: 'black', background: 'red'}) Logged In Couple's Name & Email:
            //- h5 #{user.username}
            h5(style={color: 'black', background: '#ADD8E6'}) Michael Friedman
            h5(style={color: 'black', background: '#ADD8E6'}) Katherine Friedman
            h5 #{user.contact.name.firstName} 
            h5(style={color: 'black', background: '#ADD8E6'}) E-mail: #{user.email}
            h3.profilestatistics(style={color: 'black', background: 'red'}) Profile Statistics:
            h3.profilepictures(style={color: 'black', background: 'red'})  Your Couple's Pictures:
            br
            img(src='http://images4.fanpop.com/image/photos/16100000/O-Conell-and-Evey-movie-couples-16197664-1780-1167.jpg', width="30%", height='146px' alt='First slide')
            img(src='http://images.idiva.com/media/photogallery/2012/Jan/happy_couple.jpg' width='30%', height='146px', alt='second slide')
            img(src='http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/infertility_treatments_slideshow/getty_rf_photo_of_couple_kayaking.jpg', width='30%', height='146px' alt='third slide')
            br
            br
            br
            
            a.btn.btn-default(href='/couplemeetup', role='button') Where to Meet Selected Couple
           
            
    .col-md-6.couplessearch
          h2(style={color: 'black', background: 'green'}) Compatible Couples Search Criteria:
          .calendar
                script(src="/js/jquery1.5.1.js")
                script.
                      $(document).ready(function(){ $(".calendar").oCalendar({width: 0, height: 0, useAbbr: true})})
          form.search
            label
              |               Age Range Min Age: 
              input#minage(type='number', name='minage', value='18', min='18', max='115')
              br
              |               Age Range Max Age: 
              input#maxage(type='number', name='maxage', value='60', min='18', max='115')
              br
              |             Children:
              input#childrenyes(type='radio', name='children', value='true')
              |  Yes
              input#childrenno(type='radio', name='children', value='false', checked='checked')
              |   No
              br
              |               Pets:
              input#petsyes(type='radio', name='pets', value='true')
              |  Yes
              input#petsno(type='radio', name='pets', value='false', checked='checked')
              |  No
              br
              |             Served in Military:
              input#militaryyes(type='radio', name='militaryservice', value='true')
              |  Yes
              input#militaryno(type='radio', name='militaryservice', value='false', checked='checked')
              |  No
              br
              br
              ul.nav.pull-center: li.dropdown
                  a.dropdown-toggle(href="#state", data-toggle="dropdown", id="state", name='state')
                      | State
                      b.caret
                select(id="state", name='state', size='1')
                    option(value='', selected='selected') Select a State
                    option(value='AL') Alabama
                    |   
                    option(value='AK') Alaska
                    |   
                    option(value='AZ') Arizona
                    |   
                    option(value='AR') Arkansas
                    |   
                    option(value='CA') California
                    |   
                    option(value='CO') Colorado
                    |   
                    option(value='CT') Connecticut
                    |   
                    option(value='DE') Delaware
                    |   
                    option(value='DC') Dist of Columbia
                    |   
                    option(value='FL') Florida
                    |   
                    option(value='GA') Georgia
                    |   
                    option(value='HI') Hawaii
                    |   
                    option(value='ID') Idaho
                    |   
                    option(value='IL') Illinois
                    |   
                    option(value='IN') Indiana
                    |   
                    option(value='IA') Iowa
                    |   
                    option(value='KS') Kansas
                    |   
                    option(value='KY') Kentucky
                    |   
                    option(value='LA') Louisiana
                    |   
                    option(value='ME') Maine
                    |   
                    option(value='MD') Maryland
                    |   
                    option(value='Massachusetts') Massachusetts
                    |   
                    option(value='MI') Michigan
                    |   
                    option(value='MN') Minnesota
                    |   
                    option(value='MS') Mississippi
                    |   
                    option(value='MO') Missouri
                    |   
                    option(value='MT') Montana
                    |   
                    option(value='NE') Nebraska
                    |   
                    option(value='NV') Nevada
                    |   
                    option(value='NH') New Hampshire
                    |   
                    option(value='NJ') New Jersey
                    |   
                    option(value='NM') New Mexico
                    |   
                    option(value='NY') New York
                    |   
                    option(value='NC') North Carolina
                    |   
                    option(value='ND') North Dakota
                    |   
                    option(value='OH') Ohio
                    |   
                    option(value='OK') Oklahoma
                    |   
                    option(value='OR') Oregon
                    |   
                    option(value='PA') Pennsylvania
                    |   
                    option(value='Rhode Island') Rhode Island
                    |   
                    option(value='SC') South Carolina
                    |   
                    option(value='SD') South Dakota
                    |   
                    option(value='TN') Tennessee
                    |   
                    option(value='TX') Texas
                    |   
                    option(value='UT') Utah
                    |   
                    option(value='VT') Vermont
                    |   
                    option(value='VA') Virginia
                    |   
                    option(value='WA') Washington
                    |   
                    option(value='WV') West Virginia
                    |   
                    option(value='WI') Wisconsin
                    |   
                    option(value='WY') Wyoming

                      ul.dropdown-menu    
                  ul.nav.pull-center: li.dropdown
                      a.dropdown-toggle(href="#distancefromhome", data-toggle="dropdown", id='distancefromhome', name='distancefromhome')
                      | Distance from your Home Location
                      b.caret
                      br
                      select(name='miles', size='1')
                          option(value='1') 1 Mile
                          |   
                          option(value='5') 5 Miles
                          |   
                          option(value='10') 10 Miles
                          |   
                          option(value='15') 15 Miles
                          |   
                          option(value='20') 20 Miles

                      br
                      br
                      br
                
              input#submitbutton(type="button", name='submitform', value='Search')

            h3(style='color:#000000')  Couple Search Results 
            .couplesearchresults
                            h4 Matched on:
        
    
    //- script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    //- script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    //- script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js')
    //- script(src='compatiblecouples.js')
 
