extends layout

block content
	h1 Hello Mexico!
 
.row
	.col-md-6.col-md-6
	.col-md-6.col-md-6
   
	.panel.panel-default
		.panel-heading Panel Heading
		.panel-body

#coupledetails
	h1 Vital Statistics	
p.result.contact.name.firstName
	| How Long Together?

| Where are each of you from?

| How long in the Area?

| Career for Partner # 1

| Career for Partner # 2		
h2 Children(If Any) details
ul#children-list
for child in children-list
	li.Name Name
	li.Age Age
	li.Sex Sex
	li.other details


//- return  $('.couplesearchresults').append( "<a href='/compatiblecouplesdetails" + result._id + " 
	' class='searchresults' class='expand'>" 
//-                       + '<li>' + result.contact.name.firstName + result.contact.name.lastName + 
//-                       result.contact.details.hasChildren + result.contact.pets.pets  + result.contact.details.militaryService +
//-                       result.contact.age.age + result.coupledWith.coupleId + '<li>' + '</a>');