extends _layout


block content

	.row
    .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
      |   
      h2 Restaurants!
      <input type="checkbox"> Child Friendly?
         ul.dropdown-menu    
                  ul.nav.pull-center: li.dropdown
                      a.dropdown-toggle(href="#typeofrestaurant", data-toggle="dropdown", id='typeofrestaurant', name='typeofrestaurant')
                      | What Type of Restaurant?
                      b.caret
                          select(name='typeofrestaurant', size='1')
                              option(value='italian') Italian
                              |   
                              option(value='amusement') Amusement(i.e. Chuck E Cheese)
                              |   
                              option(value='fastfood') Fast Food(Mcdonald's, Wendy's)
                              |   
                              option(value='mexican') Mexican Restaurant
                              |   
                              option(value='Bar and Grille Chain') Bar and Grille(i.e AppleBees)

       	ul.dropdown-menu    
                  ul.nav.pull-center: li.dropdown
                      a.dropdown-toggle(href="#distancefromhome", data-toggle="dropdown", id='distancefromhome', name='distancefromhome')
                      | Distance from this location
                      b.caret
                          select(name='miles', size='1')
                              option(value='1') 1 Mile
                              |   
                              option(value='5') 5 Miles
                              |   
                              option(value='10') 10 Miles
                              |   
                              option(value='15') 15 Miles
                              |   
                              option(value='20') 20 Miles
    p Note: Restaurants and Bars with an Asterick(*) are preferred partners, and will each couple(and children) will receive 15% off their bills, when booked thru this site!!
    input#searchrestaurants(type="button", name='searchrestaurants', value='Click to Search Restaurants')

    	h3(style='color:#000000')  Restaurant Search Results!
    	p you can pick multiple Restaurants(ctrl-click or command-click, and choose how to notify the other couple(s) when you click Confirm and go to the next Screen!

            .restaurantsearchresults
                            h4 Matched on:

    input#confirmrestaurants(type="button", name='confirmrestaurants', value='Click to Confirm Restaurant Choices')

      .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
      // Optional: clear the XS cols if their content doesn't match in height
      .clearfix.visible-xs-block
      |   
      h2 Bar!
         ul.dropdown-menu    
                  ul.nav.pull-center: li.dropdown
                      a.dropdown-toggle(href="#typeofbar", data-toggle="dropdown", id='typeofbar', name='typeofbar')
                      | What Type of Bar?
                      b.caret
                          select(name='typeofbar', size='1')
                              option(value='irishpub') Irish Pub
                              |   
                              option(value='cigarbar') Cigar Bar
                              |   
                              option(value='sportsbar') Sports Bar
                              |   
                              option(value='nightclub') Night Club
                              |   
                              option(value='lounge') Lounge

    p Note: Restaurants and Bars with an Asterick(*) are preferred partners, and will each couple(and children) will receive 15% off their bills, when booked thru this site!!
    
    input#searchbars(type="button", name='searchbars', value='Click to Search Bars')

    	h3(style='color:#000000')  Bars Search Results!
    	p you can pick multiple Bars(ctrl-click or command-click, and choose how to notify the other couple(s) when you click Confirm and go to the next Screen!

            .restaurantsearchresults
                            h4 Matched on:

    input#confirmbars(type="button", name='confirmbars', value='Click to Confirm Bar Choices')
    	

      .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
      h2 Playground:

      ul.dropdown-menu    
                  ul.nav.pull-center: li.dropdown
                      a.dropdown-toggle(href="#distancefromplayground", data-toggle="dropdown", id='distancefromplayground', name='distancefromplayground')
                      | Distance from this location
                      b.caret
                          select(name='miles', size='1')
                              option(value='1') 1 Mile
                              |   
                              option(value='5') 5 Miles
                              |   
                              option(value='10') 10 Miles
                              |   
                              option(value='15') 15 Miles
                              |   
                              option(value='20') 20 Miles
   
    input#searchplaygrounds(type="button", name='searchplaygrounds', value='Click to Search Playgrounds')

    	h3(style='color:#000000')  Playground Search Results!
    	p you can pick multiple Playgrounds(ctrl-click or command-click, and choose how to notify the other couple(s) when you click Confirm and go to the next Screen
    		.playgroundsearchresults
                            h4 Matched on:

    input#confirmplayground(type="button", name='confirmbars', value='Click to Confirm Playground Choices')
