extends _layout

block content
  
    //- // Carousel
    //- // ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')
      //- // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          //- img(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='First slide')
          img(src='//s3.amazonaws.com/ooomf-com-files/M1IHnsfYRz2ThTgzl6qz_canyousea.jpg', alt='First slide')
          .container
            .carousel-caption
              h2 Couple on Beach
              p
                    
                 | Couple On The Beach, Enjoying the Sun But .... 
                //- code file://
                |  URL, the &quot;next&quot; and &quot;previous&quot; Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
        .item
            img(src='http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_5244808e6b835_1.JPG', alt='Second Slide')
            .container
              .carousel-caption
                  h2 Couple enjoying a Sunset 
                  p
                    | Couple enjoying a San Francisco Sunset But ...
                  p
                    a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img(src='//ununsplash.imgix.net/reserve/tdedkQnQGCgIhk9eoEkP_DSC_0983.JPG?q=75&fm=jpg&s=6a5691b52e0f3dcb148472b085d938c3', alt='Third slide')
          .container
            .carousel-caption
              h2 Wouldn't it be much more Enjoyable with a crowd of Couples to have fun with and meet new people
              p    
                | Purple People is connection website, to help couples meet socially near or in their city or town
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    //- // /.carousel
    
    //- // Marketing messaging and featurettes
    //- // ==================================================
    //- // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      //- // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle(src='http://teamfdc.com/wp-content/uploads/2013/05/safety-first.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Safe
          p
            |  Purple People provides a safety-first meeting place.  These are couples from your community, either new to the community or established but haven't found the correct venue to meet up.
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        //- // /.col-lg-4
        .col-lg-4
          img.img-circle(src='http://www.mangooranges.com/wp-content/uploads/2010/02/easy-button.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Fast
          p
            |  Purple People provides a Fast, Efficient, and Safe platform to help you meet couples, when you want, where you want, using your mobile devices or home desktop or laptops
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        //- // /.col-lg-4
        .col-lg-4
          img.img-circle(src='http://18vi1n40obrku6xfb34e3uj4dx.wpengine.netdna-cdn.com/wp-content/uploads/2012/05/KID-FRIENDLY.gif', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 Kid Friendly
          p
            | Purple People provides resources for couples with children to meet in child friendly areas for playdates, eating out, and just letting kids be kids, with other couples that have similiar likes
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
      //-   // /.col-lg-4
      //- // /.row
      //- // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Safety Matters 
            span.text-muted It&apos;ll blow your mind.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive(src='http://safety.gsu.edu/files/2012/11/20090804Policecoverandothers244PSF_o41-e1356103993706.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='http://i2.cdn.turner.com/cnnnext/dam/assets/120208123232-happy-cold-couple-with-coffee-story-top.jpg', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Oh yeah, it&apos;s that good. 
            span.text-muted See for yourself.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one. 
            span.text-muted Checkmate.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive(src='//d1hekt5vpuuw9b.cloudfront.net/assets/article/1f913f304d4265684fea960106d1132a_when-families-live-together_featuredImage.jpg', alt='Generic placeholder image')
      hr.featurette-divider


    

      
      
