doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Purple People
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
			link(rel="stylesheet", href="/style2b.css")
			link(rel="stylesheet", href="/main.css")
			link(rel="stylesheet", href="/compatiblecouples.css")



	body
		block content
		

		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js")
		script(src="/scripts/search.js")
		script(src="/scripts/main.js")
		script(src="/scripts/client.js")