doctype html
html(lang='en', ng-app="searchApp")
	head
		meta(charset="utf-8")
		title Purple People
			link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")

	body
		block content
		

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js")
		script(src="/public/scripts/search.js")
		//script(src="/scripts/main.js")
		//script(src="/scripts/client.js")