doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Purple People
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
			link(rel="stylesheet", href="/style2b.css")
			link(rel="stylesheet", href="/main.css")
			link(rel="stylesheet", href="/compatiblecouples.css")


block navBar
	//- nav(class='navbar navbar-default', role='navigation')
	//- 		.container-fluid
	//- 			.navbar-header
	//- 				button(class='navbar-toggle', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
	//- 					span.sronly
	//- 					span.icon-bar
	//- 					span.icon-bar
	//- 					span.icon-bar
	//- 				a(class='navbar-brand', href='/#') Node Recipes
	//- 			#bs-example-navbar-collapse-1(class='collapse navbar-collapse')
	//- 				ul(class='nav navbar-nav')
	//- 					li
	//- 						a(href='/recipes/bbq') BBQ
	//- 					li
	//- 						a(href='/recipes/brunch') Brunch
	//- 					li
	//- 						a(href='/recipes/dessert') Dessert
html(lang='en')
	head
		|     
		title Purple People
		|     
		link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
		|     
		link(href='https://fonts.googleapis.com/css?family=Limelight|Lobster+Two&effect=fire-animation|emboss', rel='stylesheet', type='text/css')
		|     
		link(rel='stylesheet', type='text/css', href='css/main.css')
		|     
		link(rel='stylesheet', type='text/css', href='css/reset.css')
		|     
		link(rel='stylesheet', type='text/css', href='css/style2b.css')
		|     
		meta(name='viewport', content='width=device-width, initial-scale=1')
		|   
		body

.container-fluid
	nav.navbar.navbar-inverse.navbar-fluid-top.navbar-header(role='navigation')
		.container-fluid

		form.navbar-form.navbar-left
			.form-group
				a.navbar-brand(href='#')

					img#Logo(alt='Brand', src='logo/purplepeople2.gif')
					|                 
					a.form-control(href='login2.html') Login
					|                 
					a.form-control(href='about.html') About
					|                 
					a.form-control(href='compatiblecouples') Compatible Couples
					|                   
					input.form-control(type='text', placeholder='Email')
					|                   
					input.form-control(type='text', placeholder='Password')
					|                   
					button.btn.btn-success(type='submit') Sign In

	body
		block content
		

		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js")
		script(src="/scripts/search.js")
		script(src="/scripts/main.js")
		script(src="/scripts/client.js")